# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
storage_daemon/sdaemon
storage_daemon/driver_dummy
storage_daemon/replica_test

# latex bs
paper/*.aux
paper/*.glo
paper/*.idx
paper/*.log
paper/*.toc
paper/*.ist
paper/*.acn
paper/*.acr
paper/*.alg
paper/*.bbl
paper/*.blg
paper/*.dvi
paper/*.glg
paper/*.gls
paper/*.ilg
paper/*.ind
paper/*.lof
paper/*.lot
paper/*.maf
paper/*.mtc
paper/*.mtc1
paper/*.out
paper/*.synctex.gz

# .orig files (?)
*.orig
