body {
    font-family: Georgia, serif;
    font-size: 14px;
    background-color: #333333;
    text-align: center;
    padding: 0px;
}

a {
    color: #7AA300;
}

a:hover {
    color: #3D5200;
}

a:visited {
    color: #3D5200;
}

#wrapper {  
    width: 800px;
    min-height: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #EFEFEF;
    
    -webkit-box-shadow:  3px 3px 3px 1px #000000;
    box-shadow:  3px 3px 3px 1px #000000;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
